{% extends 'base.html.twig' %}

{% block body %}
<div style=" text-align: center; background-color: #EEEEEE; " class="cardsss " >

</div>
<div style="background-color: #EEEEEE;" class="p-5">
<div class="container" style="margin-top: 8vh;">
<h1 style="text-align: center;">Our Cars</h1>
<p style="text-align: center;">Lorem ipsum is placeholder text commonly used in the graphic</p>
<p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<div class="row mb-3">
            <div class="col-md-6">
                <select class="form-select" aria-label="Default select example" id="price-filter" >
                    <option value="" selected>Select filter</option>
                    <option value="high_to_low" >High to Low price</option>
                    <option value="low_to_high">Low to high price</option>
                </select>
            </div>
            <div class="col-md-6">
                <select class="form-select" aria-label="Default select example" id="category-filter">
                    <option value="" selected>Select category</option>
                    <option value="all">All categories</option>
                    <option value="planes">Planes</option>
                    <option value="cars">Cars</option>
                    <option value="bikes">Bikes</option>
                </select>
            </div>
        </div>


 
{% include 'carMarkt/ShowcarsView.html.twig'  %}



</div> 
<div style="height:10vh; background-color: #EEEEEE;"></div> 
<script>
document.getElementById('price-filter').addEventListener('change', function(){
  var filterValue = this.value;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/Cars?filter=' + filterValue, true);
  xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
  xhr.onload = function() {
      if (xhr.status >= 200 && xhr.status < 300) {
          var carsList = document.getElementById('cars-list');
          carsList.innerHTML = JSON.parse(xhr.response).template; 
      }
  };
  xhr.send();
});

// category filter 
document.getElementById('category-filter').addEventListener('change', function(){
  var filterValue = this.value;
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/Cars/' + filterValue, true);
  xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
  xhr.onload = function() {
      if (xhr.status >= 200 && xhr.status < 300) {
          var carsList = document.getElementById('cars-list');
          carsList.innerHTML = JSON.parse(xhr.response).template; 
      }
  };
  xhr.send();
});


</script>
{% endblock %}