body {
    background-color: white;
}
/* navbar */
li a:hover {
    background-color: #00ADB5;
   
    color: #393E46;
  }

.cont1 {
    background-color: #00ADB5; 
    color: #393E46;
    
}


/** Landing page pic **/ 
.container21 {
    
    background-image: url("https://images.unsplash.com/photo-1608341089966-92c09e62214f?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
  }
  
  /** Product page **/
  
  
  .container10 {
   position: relative;
   
   right: 30%;
    background-color:#EEEEEE;
    top: 25px;
    margin: auto;
    width :35%;
    padding: 40px;
    height: 45vh;
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    text-align: center;
    opacity: 99%;
    text-shadow: 1px 1px 1px #00ADB5;
    color: #00ADB5;
  }
  .cont {
  
   width: 50%;
   height: 5vh;
  
   font-size: 1.3rem;
   
  
  }
  .cont > select {
    width: 100%;
    height: 60%;
    font-size: 1rem;
  }
  .cont > input {
    width: 100%;
    height: 60%;
  }
  button:hover {
    background-color: #00ADB5;
    color: #393E46;
    border-color: #00ADB5;
    box-shadow:2px #393E46;
    }


    .car-header {
        width: 100%;
        padding: 20px;
        margin-bottom: 500;
        font-size: 2.2rem;
        text-align: center;
       height: 8vh;

      }
      .he {
        
        padding-top:50px;
        font-family: 'Play', sans-serif;
      }
      .c1 {
        background-color: #393E46;
        padding: 0.1%;
        color:#EEEEEE;
        margin-bottom: -13vh;
      }
      
      .container2 {
        display: flex;
       flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 10px;
        
        width: 90%;
        height:auto;
        margin-top: 23vh;
        margin-bottom: 10vh;
        
      }

      .bluebtn:hover {
          background-color: #393E46;
          border-color: #393E46;
      }
      
      .box {
        
      
        width: 32.8%;
        height: 50vh;
        filter: grayscale(100%);
        overflow: hidden;
        box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
        
       
      }
      .pic {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
     
      
      .box:hover {
        
        filter: grayscale(0%);
       
       
      }
      
      .btn23 {
      background-color: #00ADB5;
      color:#EEEEEE;
      }
      .btn23:hover {
        background-color: #393E46;
        color:white;
      }
      
      
      
      @media (max-width: 1200px)  {
      
        .container2 {  flex-direction: column;
          justify-content: center;
        align-content: center;
        height: auto;
        }
        .box {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 1vh;
        }
      .carmkt {
        left: 40%;
      }
      }
      
      .column1 {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      /* Clear floats after image containers */
      .row1::after {
        content: "";
        clear: both;
        display: table;
      }

      .column1 {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
      }
      
      /* Display the columns below each other instead of side by side on small screens */
      @media screen and (max-width: 650px) {
        .column1 {
          width: 100%;
          display: block;
        }
      }
      
      /* Add some shadows to create a card effect */
      .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      
      /* Some left and right padding inside the container */
      .container12 {
        padding: 0 16px;
      }
      
      /* Clear floats */
      .container12::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }
      
      .title1 {
        color: grey;
      }
      
      .button1 {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
      }
      
      .button1:hover {
        background-color: #555;
      }
      
      .cards-wrapper {
        display: flex;
        justify-content: center;
      }
      
      
      .carousel-inner {
        padding: 1em;
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    

      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
      }
      
      /* Modal Content */
      .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 1200px;
      }
      
      /* The Close Button */
      .close {
        color: white;
        position: absolute;
        top: 60px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* Hide the slides by default */
      .mySlides {
        display: none;
      }

      
      
      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: #00ADB5;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      
      
      img.hover-shadow {
        transition: 0.3s;
      }
      .hover-shadow:hover{
        cursor: pointer;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom:1px solid rgba(0, 0, 0, 0.2); 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .row > .column {
        padding: 0 8px;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Create four equal columns that floats next to eachother */
      .column3 {
        float: left;
        width: 25%;
      }

      .imgdetail {
        width: 100%;
        height:70vh;
        object-fit: cover;
      }